<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Training</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/style/src/css/main.css" />
    <link rel="stylesheet" href="~/style/src/css/util.css" />

    <link rel="stylesheet" href="~/style/src/vendor/animate/animate.css" />
    <link rel="stylesheet" href="~/style/src/vendor/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    @RenderBody()
    <script src="~/style/src/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/style/src/vendor/bootstrap/js/popper.js"></script>
    <script src="~/assets/js/app.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>